*{
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}
section{
    float:left;
}
img{
    width:250px;
    height:300px;
    margin: 0px;
}
p{
    width:300px;
    margin:0px;
    padding:0px;
}
footer{
    clear: both;
    margin-top: 0px;
}